<div>
  <% current_user.teams.each do |team| %>
    <div class="card w-full max-w-5xl bg-base-200 shadow-xl overflow-hidden">
      <%= render "shared/team_table", team: team %>
    </div>
  <% end %>
</div>