# WEB APP
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pulsetrack-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: pulsetrack:latest
          imagePullPolicy: Never
          envFrom:
            - secretRef:
                name: pulsetrack-secrets
            - configMapRef:
                name: pulsetrack-config
          ports:
            - containerPort: 3000
---
# WORKER (Solid Queue)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pulsetrack-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: pulsetrack:latest
          imagePullPolicy: Never
          command: ["./bin/jobs"] # The Solid Queue entrypoint
          envFrom:
            - secretRef:
                name: pulsetrack-secrets
            - configMapRef:
                name: pulsetrack-config
---
# SERVICE TO EXPOSE WEB
apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30080
