<div>
  <h1 class="font-bold text-4xl">Add a site to start monitoring.</h1>

  <%= render 'form', monitored_site: @monitored_site %>
  <%= link_to "Back to sites", monitored_sites_path, class: "btn btn-link mt-4" %>
</div>
